IMAP_HOST=imap.daouoffice.com
IMAP_PORT=993
SMTP_HOST=smtp.daouoffice.com
SMTP_PORT=465
EMAIL_ADDRESS=jylee1@rathontech.com
EMAIL_PASSWORD=
TELEGRAM_MAIL_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_MAIL_BOT_CHAT_ID=your-chat-id
